:host {

}

.collapseMenu .bg-inverse {
  margin-top: 3.75%;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
}
.collapseMenu{
  position: relative;
}

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  text-decoration: none;
  vertical-align: middle;
  padding: 0 6px;
}

.navbar-toggler{
  margin-top: 6px;
  color: white;
}
nav a.router-link-active {
  color: #106cc8;
}
