@font-face {
  font-family: 'montserratblack';
  src: url('../assets/fonts/montserrat-black-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('../assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('../assets/fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Set up a default font and some padding to provide breathing room */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* platform specific */
.desktop lang-switcher {
  display: none;
}
