<GridLayout backgroundImage="res://bg_login.jpg" stretch="aspectFit">

    <CardView #materialcardview shadowColor="#FE00FC" elevation="10" margin="10">
        <StackLayout>
            <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>
            <TextField hint="Email Address" keyboardType="email"
                       autocorrect="false" autocapitalizationType="none"></TextField>
            <TextField hint="Password" secure="true"></TextField>

            <Button text="Entrar" class="submit-button" (tap)="submit()"></Button>
        </StackLayout>
    </CardView>
</GridLayout>
