StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
    height: 305;
}
Image {
    margin-top: 5;
    margin-bottom: 20;
}
TextField {
    border-width: 1;
    border-color: black;
    padding: 10;
    font-size: 13;
}
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}

Button {
    height: 40;
}
.submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 20;
}
